<h2 class="mb-4">{{selectedUser.name}}</h2>

<div class="row mb-4">
  <div class="col-12 col-md-6">
    <dl>
      <dt>Username</dt>
      <dd>{{selectedUser.username}}</dd>

      <dt>email</dt>
      <dd>{{selectedUser.email}}</dd>

      <dt>phone</dt>
      <dd>{{selectedUser.phone}}</dd>

      <dt>web</dt>
      <dd>{{selectedUser.website}}</dd>
    </dl>
  </div>

  <div class="col-12 col-md-6">
    <address>
      <strong>Address</strong><br>
      {{selectedUser.userAddress}}
    </address>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h5>Albums</h5>

    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let album of selectedUserAlbum$ | async;
                  let idx = index;"
          (click)="selectAlbum(album)">
        {{album.title}}
      </li>
    </ul>
  </div>
</div>


<div class="row mb-4">
  <div class="col-12">
    <h5 class="photo-headline">
      Photos
      <span *ngIf="selectedAlbum">of {{selectedAlbum.title}}</span>
    </h5>

    <div class="photo-container"
         *ngIf="clickedAlbumPhoto$ | async; else infoText">
      <img class="rounded
                  float-left"
           *ngFor="let photo of clickedAlbumPhoto$ | async"
           src="{{photo.thumbnailUrl}}"
           alt="{{photo.title}}"
           title="{{photo.title}}"
      >
    </div>

    <ng-template #infoText>
      <small class="info-text">Please click on an album to see the photos.</small>
    </ng-template>

  </div>
</div>



